.box-activity {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 100%;
  transition: transform 0.2s;
  cursor: pointer;
}

.box-activity:hover {
  transform: translateY(-5px);
}

.activity-image {
  width: 100%;
  height: 444px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.content {
  padding: 15px;
}
